
.block-txt-mp {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        font-size: 36px;
    }
    
    p {
        color: #2222229f;
        font-size: 14px;
        margin: 0;
    }
}

// POPULAR DESTINATION
.popular {
    margin: 100px 0px 100px 0px;
    text-align: center;

    .popular-block-img {
        color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }


    .popular-img {
        position: relative;
        height: 211px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pop-img-txt {
            position: absolute;
            z-index: 1;

            a {
                color: #222222;
                border-radius: 1px;
                padding: 10px 25px 10px 25px;
                display: inline-block;
                margin-bottom: 10px;
                opacity: 0;
                cursor: pointer;
            }
    
            p {
                margin: 0;
                letter-spacing: 1px;
                margin-top: 5px;
                color: white;
            }
    
            h4 {
                margin: 0;
            }
        }

        .black-box {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-color: #222222;
            opacity: 0;
            transition: .3s all;
        }


    }

    .popular-img:hover > .pop-img-txt >a {
        opacity: 1;
    }

    .popular-img:hover > .black-box {
        opacity: .7;
    }

    .popular-img:hover > .calque {
        opacity: .5;
    }

    .popular-img:hover > a {
        opacity: 1;
    }

    .popular-img:nth-child(1) {
        background: url(../img/d1.jpg) center/cover;
    }

    .popular-img:nth-child(2) {
        background: url(../img/d2.jpg) center/cover;
    }

    .popular-img:nth-child(3) {
        background: url(../img/d3.jpg) center/cover;
    }
}

//Provide affordable prices
.provide {
    padding: 100px 0px 100px 0px;
    background-color: #f9f9ff;

    .packages-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        
        .packages {
            padding: 20px;
            background-color: white;

            h4 {
                text-align: center;
                border-bottom: solid 1.5px #f8b600;
                padding-bottom: 20px;
                font-size: 23px;
            }

            .packages-prices {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                span:nth-of-type(2) {
                    background-color: rgba(128, 128, 128, 0.075);
                    padding: 10px 20px 10px 20px;
                    border: solid 1px rgba(128, 128, 128, 0.151);
                    border-radius: 3px;
                    transition: .3s all;
                    cursor: pointer;
                }

                span:nth-of-type(2):hover {
                    background-color: #f8b600;
                    border: solid 1px #f8b600;
                }
            }
        }
    }
}

//ISSUES
.issues {
    padding: 100px 0px 100px 0px;
    .issues-cont {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;

        .issues-box {
            cursor: pointer;

            p {
                color: #222222c2;
                font-size: 14px;
                letter-spacing: .5px;
                line-height: 1.5em;
            }

            h4 {
                transition: .3s all;
            }

            .issues-img {
                height: 160px;
                overflow: hidden;
            }

            .img-inside {
                height: 160px;
            }

            .i1 {
                background: url(../img/o1.jpg) center/cover;
                transition: .5s all;
            }
            
            .i2 {
                background: url(../img/o2.jpg) center/cover;
                transition: .5s all;
            }
            
            .i3 {
                background: url(../img/o3.jpg) center/cover;
                transition: .5s all;
            }
            
            .i4 {
                background: url(../img/o4.jpg) center/cover;
                transition: .5s all;
            }
        }

        .issues-box:hover > h4{
            color: #f8b600;
        }

        .issues-box:hover > .issues-img > .img-inside{
            transform: rotate(-8deg) scale(125%);
        }
    }
}


//testimonial
.testimonials {
    padding: 100px 0px 100px 0px;
    background-color: #f9f9ff;

    .testi-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        .testi-box {
            display: flex;
            align-items: flex-start;
            background-color: white;
            padding: 20px;
            cursor: pointer;

            .testi-img {
                background: url(../img/avatar-03.jpg) center/cover;
                height: 50px;
                width: 110px;
                border-radius: 50%;
                margin-right: 15px;
                transform: translate(0, 30%);
            }

            .testi-txt {

                h4 {
                    transition: .3s all;
                }

                .testi-stars {
                    display: flex;
                    color: #2222229f;
                }

                .ts-left {
                    i:nth-of-type(-1n+4) {
                        color: #f8b600;
                    }
                }

                .ts-right {
                    i:nth-of-type(-1n+3) {
                        color: #f8b600;
                    }
                }
            }
        }

        .testi-box:hover > .testi-txt > h4 {
            color: #f8b600;
        }
    }
}

//CUSTOM
.custom {
    .custom-cont {
        display: flex;
        .left {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .text-box {
                width: 50%;

                p {
                    margin-bottom: 40px;
                }
                a {
                    background-color: #222222;
                }

                a:hover {
                    background-color: #f8b600;
                    color: white;
                }
            }
        }

        .right {
            width: 50%;
            background: url(../img/about-img.jpg) center/cover;
            height: 600px;
        }
    }
}

//BLOG

.blog {
    padding: 100px 0px 100px 0px;

    .blog-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        .blog-box {

            a {
                background-color: #f9f9ff;
                font-size: 12px;
                padding: 10px 20px 10px 20px;
                margin-right: 10px;
                border: solid 1px #e6e6e9;
                cursor: pointer;
            }

            a:hover {
                background-color: #f8b600;
                color: white;
                border: solid 1px #f8b600;
            }

            h4 {
                margin-top: 40px;
                transition: .3s all;
                cursor: default;
            }

            h4:hover {
                color: #f8b600;
            }

            .img-blog-cont {
                overflow: hidden;
                margin-bottom: 20px;
            }

            .img-blog {
                height: 260px;
                transition: .3s all;
            }

            .ib1 {
                background: url(../img/b1.jpg) no-repeat center/cover;
            }

            .ib2 {
                background: url(../img/b2.jpg) no-repeat center/cover;
            }

            .ib3 {
                background: url(../img/b3.jpg) no-repeat center/cover;
            }
        }

        .blog-box:hover > .img-blog-cont > .img-blog {
            transform: scale(107%);
        }
    }
}


@media screen and (max-width: 600px) {

    // POPULAR DESTINATIONS
    .popular {
        .popular-block-img {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // PRICES
    .provide {
        .packages-cont {
            grid-template-columns: repeat(1, 1fr);
        }
    }


    //ISSUES
    .issues {
        .issues-cont {
            grid-template-columns: repeat(1, 1fr);

            .issues-box {

                .issues-img {
                    height: 300px;
                    overflow: hidden;
                }

                .img-inside {
                    height: 300px;
                }
            }

            .issues-box:hover > .issues-img > .img-inside{
                transform: rotate(0deg) scale(100%);
            }
        }
    }

    //testimonial
    .testimonials {

        .testi-cont {
            grid-template-columns: repeat(1, 1fr);

            .testi-box:nth-of-type(2) {
                display: none;
            }

            .testi-box:hover > .testi-txt > h4 {
                color: #f8b600;
            }
        }
    }

    //CUSTOM
    .custom {
        .custom-cont {
            display: flex;
            flex-direction: column;
            .left {
                width: 100%;

                .text-box {
                    margin: 50px 0px 50px 0px;
                    text-align: center;

                    p {
                        margin-bottom: 40px;
                    }
                    a {
                        background-color: #222222;
                    }

                    a:hover {
                        background-color: #f8b600;
                        color: white;
                    }
                }
            }

            .right {
                width: 100%;
            }
        }
    }

    //BLOG
    .blog {
        padding: 100px 0px 100px 0px;

        .blog-cont {
            grid-template-columns: repeat(1, 1fr);

            .blog-box:nth-of-type(2), .blog-box:nth-of-type(3) {
                display: none;
            }
        }
    }
}