
// POPULAR DESTINATION
.block-txt-mp {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        font-size: 36px;
    }

    p {
        color: #2222229f;
        font-size: 14px;
        margin: 0;
    }
}

.popular {
    margin: 100px 0px 100px 0px;
    text-align: center;

    .popular-block-img {
        color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }


    .popular-img {
        position: relative;
        height: 211px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pop-img-txt {
            position: absolute;
            z-index: 1;

            a {
                color: #222222;
                border-radius: 1px;
                padding: 10px 25px 10px 25px;
                display: inline-block;
                margin-bottom: 10px;
                opacity: 0;
                cursor: pointer;
            }
    
            p {
                margin: 0;
                letter-spacing: 1px;
                margin-top: 5px;
            }
    
            h4 {
                margin: 0;
            }
        }

        .black-box {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-color: #222222;
            opacity: 0;
            transition: .3s all;
        }


    }

    .popular-img:hover > .pop-img-txt >a {
        opacity: 1;
    }

    .popular-img:hover > .black-box {
        opacity: .7;
    }

    .popular-img:hover > .calque {
        opacity: .5;
    }

    .popular-img:hover > a {
        opacity: 1;
    }

    .popular-img:nth-child(1) {
        background: url(../img/d1.jpg) center/cover;
    }

    .popular-img:nth-child(2) {
        background: url(../img/d2.jpg) center/cover;
    }

    .popular-img:nth-child(3) {
        background: url(../img/d3.jpg) center/cover;
    }
}

//Provide affordable prices
.provide {
    padding: 100px 0px 100px 0px;
    background-color: #f9f9ff;

    .packages-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        
        .packages {
            padding: 20px;
            background-color: white;

            h4 {
                text-align: center;
                border-bottom: solid 1.5px #f8b600;
                padding-bottom: 20px;
                font-size: 23px;
            }

            .packages-prices {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                span:nth-of-type(2) {
                    background-color: rgba(128, 128, 128, 0.075);
                    padding: 10px 20px 10px 20px;
                    border: solid 1px rgba(128, 128, 128, 0.151);
                    border-radius: 3px;
                    transition: .3s all;
                    cursor: pointer;
                }

                span:nth-of-type(2):hover {
                    background-color: #f8b600;
                    border: solid 1px #f8b600;
                }
            }
        }
    }
}